body{
    background-color:rgb(255, 200, 200);
    color: rgb(255, 0, 200);
    text-transform:capitalize;
}

nav{
    padding: 5px;
    line-height: 30px;
}

footer{
    position:fixed;
    bottom: 0;
    text-align: center;
}

header{
    text-align:center;
}

img{
    width: 200px;
    height:200px;
    position: absolute;
    left:25%;
    top:25%;
}
table{
    background-color: black;
}
table tr{
    background-color: rgb(255, 255, 255);
}
table th{
    background-color: rgb(255, 213, 213);
    color:black;
}
table caption{
    background-color: rgb(255, 255, 255);
    color:black;
    font-weight: bold;
}
table td{
    padding:7px;
}
table #red{
    color:red;
}
table #blue{
    color:rgb(31, 120, 255);
}
table #orange{
    color:rgb(255, 143, 69);
}